
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"iconfont" !important;
  font-size:rem-calc(28);
  font-style:normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-disabled:before { display: none; }
.icon-location:before { content: "\e907"; }
.icon-destination:before { content: "\e909"; }
.icon-search:before { content: "\e903"; }
.icon-phone:before { content: "\e906"; }
.icon-home:before { content: "\e904"; }
.icon-add:before { content: "\e900"; }
.icon-cut:before { content: "\e912"; }
.icon-discovery:before { content: "\e901"; }
.icon-mine:before { content: "\e905"; }
.icon-arrow-left:before { content: "\e910"; }
.icon-arrow-right:before { content: "\e90f"; }
.icon-arrow-top:before { content: "\e90e"; }
.icon-arrow-bottom:before { content: "\e90d"; }
.icon-price:before { content: "\e90c"; }
.icon-type:before { content: "\e90b"; }
.icon-date:before { content: "\e90a"; }
.icon-people:before { content: "\e908"; }
.icon-go-top:before { content: "\e911"; }
.icon-favorite:before { content: "\e915"; }
.icon-favorite-hollow:before { content: "\e916"; }
.icon-message:before { content: "\e917"; }
.icon-check:before { content: "\e914"; }
.icon-times:before { content: "\e913"; }
.icon-service:before { content: "\e928"; }
.icon-warning:before { content: "\e920"; }
.icon-help:before { content: "\e91f"; }
.icon-disabled:before { content: "\e91e"; }
.icon-calendar:before { content: "\e921"; }
.icon-sign-in:before { content: "\e923"; }
.icon-sms:before { content: "\e924"; }
.icon-follow:before { content: "\e926"; }
.icon-follow-hollow:before { content: "\e927"; }
.icon-delete:before { content: "\e91d"; }
.icon-share:before { content: "\e91c"; }
.icon-gift:before { content: "\e91b"; }
.icon-wealth:before { content: "\e91a"; }
.icon-voice:before { content: "\e919"; }
.icon-game:before { content: "\e918"; }
.icon-route:before { content: "\e92a"; }
.icon-mail:before { content: "\e929"; }
.icon-star:before { content: "\e92b"; }
.icon-star-hollow:before { content: "\e92c"; }
.icon-mobile:before { content: "\e932"; }
.icon-qq:before { content: "\e931"; }
.icon-weixin:before { content: "\e930"; }
.icon-weibo:before { content: "\e92f"; }
.icon-qzone:before { content: "\e92e"; }
.icon-photo:before { content: "\e92d"; }
.icon-circle:before { content: "\e933"; }
.icon-qrcode:before { content: "\e934"; }
.icon-alipay:before { content: "\e935"; }
.icon-lock:before { content: "\e936"; }

