@charset "utf-8";

// 全局的Mixins和函数

//盒子模型
@mixin flexbox(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin box(){
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
@mixin box-o-p($orient, $pack){
    -webkit-box-orient: $orient;
    -moz-box-orient: $orient;
    box-orient: $orient;
    -webkit-box-pack: $pack;
    -moz-box-pack: $pack;
    box-pack: $pack;
}

//浏览器兼容
@mixin compatible($attri,$value){
    @each $nav in $class-browser-nav{
        #{$nav}#{$attri}:#{$value};
    }
}

@mixin box-sizing($type:border-box) {
    @include compatible(box-sizing,$type);
}
@mixin clearfix(){
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//按钮
//有背景色的button
@mixin bg-btn($width, $height, $color, $fontsize) {
    display: block;
    height: $height;
    width: $width;
    font-size: $fontsize;
    background-color: $color;
    border: 0;
    border-radius: rem-calc(8);
    text-align: center;
    line-height: $height;
    color: #ffffff;
    white-space: nowrap;
    &:active {
        color:$color;
        background-color: #ffffff;
        border: 1px solid $color;
    }
}

@mixin bg-btn-color($color){
    background-color: $color;
    &:active{
        color: $color;
        background-color: #fff;
        border-color: $color;
    }
}

//只有边框的button
@mixin border-btn($width, $height, $color, $fontsize) {
    display: block;
    height: $height;
    width: $width;
    font-size: $fontsize;
    border: 1px solid $color;
    border-radius: rem-calc(8);
    text-align: center;
    line-height: $height;
    color: $color;
    background-color: #fff;
    white-space: nowrap;
    &:active,
    &:focus {
        color: #fff;
        background-color: $color;
        border: 1px solid $color;
    }
}

@mixin border-btn-color($color){
    border-color: $color;
    color: $color;
    &:active,
    &:focus{
        color: #fff;
        background-color: $color;
        border: 1px solid $color;
    }
}
// Preserve3D
@mixin preserve3d() {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

// hairline split line
@mixin hairline($position, $color){
    @if $position == top{
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
            height: 1px;
            width: 100%;
            background-color: $color;
            display: block;
            z-index: 15;
            transform-origin: 50% 0%;
            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
              transform: scaleY(0.5);
            }
            @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                transform: scaleY(0.33);
            }
        }
    }
    @else if $position == bottom{
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: auto;
            top: auto;
            height: 1px;
            width: 100%;
            background-color: $color;
            display: block;
            z-index: 15;
            transform-origin: 50% 100%;
            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
                transform: scaleY(0.5);
            }
            @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                transform: scaleY(0.33);
            }
        }
    }
    @else if $position == left{
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
            width: 1px;
            height: 100%;
            background-color: $color;
            display: block;
            z-index: 15;
            transform-origin: 0% 50%;
            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
                transform: scaleY(0.5);
            }
            @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                transform: scaleY(0.33);
            }
        }
    }
    @else if $position == right{
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            left: auto;
            bottom: auto;
            width: 1px;
            height: 100%;
            background-color: $color;
            display: block;
            z-index: 15;
            transform-origin: 100% 50%;
            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
                transform: scaleY(0.5);
            }
            @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                transform: scaleY(0.33);
            }
        }
    }
}
// remove hairline
@mixin hairline-remove($position){
    @if $position == right or $position == bottom{
        &:after{
            display: none;
        }
    }
    @else if $position == left or $position == top{
        &:before{
            display: none;
        }
    }
}
// reset hairline color
@mixin hairline-color($position, $color){
    @if $position == right or $position == bottom{
        &:after{
            background-color: $color;
        }
    }
    @else if $position == left or $position == top{
        &:before{
            background-color: $color;
        }
    }
}

// arrow
@mixin arrow-right($font, $dis){
    &:after{
        content: '\e90f';
        font-family:"iconfont" !important;
        font-style:normal;
        font-size: $font;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        width: 0;
        height: 0;
        display: block;
        color: $color-text-gray;
        position: absolute;
        right: $dis;
    }
}

// labels
@mixin label-bg($width, $height, $color, $fontsize){
    font-size: $fontsize;
    color: #fff;
    width: $width;
    height: $height;
    line-height: $height;
    text-align: center;
    background-color: $color;
    border-radius: 5px;
}
