@charset "utf-8";
// module 组件

/* 首页 样式  */
// nav
.content-nav{
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    margin-bottom: rem-calc(20);
    & > a{
        display: block;
        float: left;
        width: 100%;
        height: rem-calc(149);
        position: relative;
        border-top: 1px solid #e6e6e6;
        .nav-text{
            @include box();
            @include box-o-p(vertical, center);
        }
        .nav-title{
            font-size: rem-calc(30);
        }
        .nav-title-sub{
            font-size: rem-calc(24);
            color: $color-text-gray;
        }
    }
    .nav-wrap{
        @include box();
        width: 100%;
        height: 100%;
    }
    .nav-icon{
        background: url("../img/nav-guide-icon.png") no-repeat 0 0;
        background-size: 100%;
        width: rem-calc(56);
        height: rem-calc(56);
        margin: rem-calc(40 30 0 52);
    }
    .nav-guide > .nav-wrap{
        background: url("../img/nav-guide-bg.png") no-repeat right 0;
        background-size: 100%;
    }
    .nav-show,
    .nav-helper{
        width: 50%;
    }
    .nav-show{
        &:after{
            content: "";
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            border-right: 1px solid #e6e6e6;
        }
        .nav-icon{
            background-position: 0 rem-calc(-56);
        }
    }
    .nav-helper{
        .nav-icon{
            background-position: 0 rem-calc(-112);
        }
    }
}
.content-inner{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-width: 1px 0;
    .content-title{
        font-size: rem-calc(30);
        padding: rem-calc(25 30 15);
    }
    .content-title-center{
        text-align: center;
        font-size: rem-calc(30);
        padding: rem-calc(25 0);
    }
    .content-list-box{
        padding: rem-calc(0 12);
    }
    .list-item{
        padding-bottom: rem-calc(20);
        a{
            display: block;
            & > .title{
                font-size: rem-calc(30);
                color: #333;
                padding: rem-calc(25 0 15);
                position: relative;
            }
        }
        .title{
            .tag{
                font-size: rem-calc(20);
                color: #fff;
                height: rem-calc(30);
                line-height: rem-calc(30);
                padding:rem-calc(0 10);
                text-align: center;
                margin-right: rem-calc(20);
                border-radius: rem-calc(5);
                display: inline-block;
                vertical-align: middle;
            }
            .btn-delete{
                position: absolute;
                top: 0;
                right: 0;
                width: rem-calc(60);
                height: 100%;
                padding-top: rem-calc(16);
                text-align: right;
                .icon{
                    font-size: rem-calc(24);
                    color: $color-text-gray;
                }
            }
        }
        .photo{
            position: relative;
            font-size: 0;
            .tag{
                height: rem-calc(40);
                line-height: rem-calc(40);
                white-space: nowrap;
                position: absolute;
                left: 0;
                top: 0;
                font-size: rem-calc(20);
                color: #fff;
                background-color: $color-primary;
                padding: rem-calc(0 12);
                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    position: absolute;
                    z-index: 12;
                    top: 0;
                    right: rem-calc(-12);
                    border-top: rem-calc(21) solid $color-primary;
                    border-right: rem-calc(12) solid transparent;
                    border-bottom: rem-calc(21) solid $color-primary;
                }
            }
        }
        .info{
            @include box();
            -webkit-box-pack: justify;
            -moz-box-pack: justify;
            box-pack: justify;
            font-size: rem-calc(30);
            color: #333;
            padding: rem-calc(25 0);
            .price{
                span{
                    color: $color-danger;
                }
            }
        }
        .text{
            font-size: rem-calc(20);
            color: $color-text-gray;
        }
    }
}
/* 产品页 样式 */
// 详情页
.content-banner{
    font-size: 0;
}
.content-main-info{
    border-top: 0;
    margin-bottom: rem-calc(10);
    .content-title{
        border-bottom: 1px solid #e6e6e6;
    }
}
.content-info-box{
    padding: rem-calc(0 15);
    ul{
        overflow: hidden;
    }
    li{
        float: left;
        padding: rem-calc(0 15);
        font-size: rem-calc(24);
        color: #333;
        width: 50%;
        .info-item-wrap{
            width: 100%;
            border-bottom: 1px solid #e6e6e6;
            min-height: rem-calc(88);
            overflow: hidden;
            @include box();
            & div{
                @include box();
                @include box-o-p(vertical, center);
            }
        }
        &:last-child{
            .info-item-wrap{
                border-bottom: 0;
            }
        }
        .title{
            width: rem-calc(100);
        }
        .current{
            color: $body-font-color;
            padding-left: rem-calc(26);
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            box-flex: 1;
            white-space: nowrap;
        }
        .icon{
            color: #999;
            padding-right: rem-calc(10);
        }
        del{
            color: #bbb;
            padding-left: rem-calc(40);
            font-size: rem-calc(24);
        }
        &.price{
            width: 100%;
            .current{
                color: $color-danger;
                font-size: rem-calc(36);
            }
        }
    }
}
.content-wrap{
    padding: rem-calc(20 0 0);
    &:last-child{
        padding-bottom: rem-calc(10);
    }
    .content-type-title{
        font-size: rem-calc(22);
        padding: rem-calc(0 30 15);
    }
    .content-type-description{
        padding: rem-calc(50 20);
        p{
            font-size: rem-calc(24);
        }
        .photo{
            margin-top: rem-calc(15);
        }
    }
    .content-type-info{
        li{
            padding: rem-calc(0 30);
            &:last-child{
                .type-info-wrap{
                    border-bottom: 0;
                }
            }
        }
        .type-info-wrap{
            @include flexbox();
            -webkit-align-items:center;
            -moz-align-items:center;
            align-items:center;
            font-size: rem-calc(30);
            height: rem-calc(88);
            border-bottom: 1px solid #e6e6e6;
            .type-info-title{
                width: rem-calc(190);
            }
            .type-info-input{
                -webkit-flex: 1;
                -moz-flex: 1;
                flex: 1;
            }
        }
    }
    .content-type-insurance{
        li{
            padding: rem-calc(30);
            border-bottom: 1px solid #e6e6e6;
            position: relative;
            &:last-child{
                border-bottom: 0;
            }
        }
        .insurance-title{
            font-size: rem-calc(30);
            color: $color-title;
            font-weight: 500;
            padding-bottom: rem-calc(20);
            border-bottom: 1px solid #e6e6e6;
        }
        .insurance-content{
            .insurance-info{
                @include box();
                -webkit-box-pack: justify;
                -moz-box-pack: justify;
                box-pack: justify;
                padding: rem-calc(15 0 20);
                div{
                    @include flexbox();
                    -webkit-align-items:center;
                    -moz-align-items:center;
                    align-items:center;
                }
                .insurance-text{
                    font-size: rem-calc(24);
                }
                .insurance-checkbox{
                    width: rem-calc(30);
                    text-align: center;
                    .icon{
                        width: 100%;
                        height: rem-calc(30);
                        line-height: rem-calc(30);
                        border-radius: rem-calc(4);
                        background-color: #e5e5e5;
                        color: #e5e5e5;
                        font-size: rem-calc(24);
                        display: block;
                    }
                }
                &.status-active{
                    .icon{
                        background-color: $color-primary;
                        color: #fff;
                    }
                }
            }
            .arrow-top{
                width: rem-calc(80);
                height: rem-calc(60);
                line-height: rem-calc(60);
                position: absolute;
                bottom: 0;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
                text-align: center;
                .icon{
                    color: $color-text-gray;
                }
            }
            .insurance-description{
                font-size: rem-calc(20);
                color: $color-text-gray;
                padding: rem-calc(20 15 15);
                transition-duration: 300ms;
                opacity: 1;
                p{
                    padding-bottom: rem-calc(10);
                }
                &.div-collapse{
                    padding-top: 0;
                }
            }
        }
    }
    .content-type-filter{
        padding: rem-calc(20 0 10);
        font-size: 0;
        overflow: hidden;
        .filter-btn-wrap{
            width: 25%;
            padding: rem-calc(0 6 10);
            display: inline-block;
            .filter-btn{
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.content-operation{
    padding: rem-calc(20);
}
//发现
.content-inner{
    .list-league-construction{
        padding: rem-calc(0 30);
        .list-item{
            position: relative;
            @include hairline(bottom, #e6e6e6);
            .text{
                padding-top: rem-calc(15);
            }
            &:last-child{
                @include hairline-remove(bottom);
            }
        }
    }
}

/* 我的 样式 */
.content-user-box{
    @include flexbox();
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    font-size: rem-calc(30);
    color: $color-title;
    height: rem-calc(186);
    .user-avatar{
        width: rem-calc(190);
        padding: rem-calc(0 30);
        font-size: 0;
        img{
            border-radius: rem-calc(10);
        }
    }
    .user-name{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
    }
    .user-arrow{
        padding-right: rem-calc(35);
        .icon{
            font-size: rem-calc(28);
            color: $color-text-gray;
        }
    }
}
.content-user-behavior{
    .user-behavior-top{
        height: rem-calc(88);
        padding: rem-calc(0 30);
        a{
            @include flexbox();
            width: 100%;
            height: 100%;
            -webkit-align-items:center;
            -moz-align-items:center;
            align-items:center;
            position: relative;
            @include hairline(bottom, #e6e6e6);
        }
        .user-behavior-icon{
            width: rem-calc(102);
            padding-left: rem-calc(20);
            .icon{
                width: rem-calc(48);
                height: rem-calc(48);
                text-align: center;
                line-height: rem-calc(48);
                border-radius: rem-calc(6);
                color: #fff;
                font-size: rem-calc(36);
                display: block;
            }
        }
        .user-behavior-type{
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
            font-size: rem-calc(30);
            color: $color-title;
        }
        .user-behavior-arrow{
            padding-right: rem-calc(5);
            .icon{
                font-size: rem-calc(28);
                color: $color-text-gray;
            }
        }
    }
    .user-behavior-bottom{
        @include flexbox();
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        height: rem-calc(100);
        a{
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
            text-align: center;
            font-size: rem-calc(30);
            color: $color-title;
            height: 100%;
            display: block;
            padding-top: rem-calc(12);
            &:first-child{
                border-right: 1px solid #e6e6e6;
            }
            .num{
                font-size: rem-calc(24);
                color: $color-text-gray;
            }
        }
    }
}
.content-core-entry{
    li{
        height: rem-calc(88);
        padding: rem-calc(0 30);
        &:last-child{
            .core-entry-item{
                @include hairline-remove(bottom);
            }
        }
        &.core-entry-avatar{
            height: rem-calc(186);
            .core-entry-content{
                width: rem-calc(130);
                height: rem-calc(130);
                border-radius: rem-calc(10);
                overflow: hidden;
            }
        }
    }
    .core-entry-item{
        @include flexbox();
        width: 100%;
        height: 100%;
        -webkit-align-items:center;
        -moz-align-items:center;
        align-items:center;
        position: relative;
        @include hairline(bottom, #e6e6e6);
        .core-entry-icon{
            width: rem-calc(102);
            padding-left: rem-calc(20);
            .icon{
                width: rem-calc(48);
                height: rem-calc(48);
                text-align: center;
                line-height: rem-calc(48);
                border-radius: rem-calc(6);
                color: #fff;
                font-size: rem-calc(36);
                display: block;
            }
        }
        .core-entry-type{
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
            font-size: rem-calc(30);
            color: $color-title;
            small{
                color: #bbb;
                font-size: rem-calc(20);
                display: block;
            }
        }
        .core-entry-content{
            font-size: rem-calc(30);
            color: $color-text-gray;
            .icon-circle{
                color: $color-danger;
                font-size: rem-calc(16);
                display: inline-block;
                vertical-align: middle;
            }
        }
        .core-entry-arrow{
            padding-right: rem-calc(5);
            margin-left: rem-calc(20);
            .icon{
                font-size: rem-calc(28);
                color: $color-text-gray;
            }
        }
    }
}
.core-entry-input{
    @include flexbox();
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: rem-calc(88);
    border-bottom: 1px solid #e6e6e6;
    &:last-child{
        border-bottom: 0;
    }
    .input-type{
        font-size: rem-calc(30);
        padding-left: rem-calc(30);
        width: rem-calc(180);
    }
    .input-link{
        font-size: rem-calc(30);
        padding-right: rem-calc(30);
    }
    input{
        font-size: rem-calc(30);
        color: $color-title;
        padding: rem-calc(0 30);
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        height: 100%;
    }
    .btn-reset{
        width: rem-calc(88);
        height: 100%;
        line-height: rem-calc(88);
        text-align: center;
        display: none;
        .icon{
            color: $color-text-gray;
            font-size: rem-calc(18);
        }
    }
}
.core-entry-tips{
    font-size: rem-calc(20);
    color: $color-text-gray;
    padding: rem-calc(15 30);
}
.gender-box{
    @include flexbox();
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    padding: rem-calc(0 30);
    .gender-type{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
    }
    .gender-radio{
        width: 20px;
        position: relative;
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 20px;
            background-color: #e5e5e5;
            border-radius: 50%;
            -webkit-transition: border 0.15s ease-in-out;
            -moz-transition: border 0.15s ease-in-out;
            transition: border 0.15s ease-in-out;
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #2bcf9b;
            -webkit-transform: scale(0, 0);
            -moz-transform: scale(0, 0);
            transform: scale(0, 0);
            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        }
    }
    input[type='radio']{
        display: none;
        opacity: 0;
        &:checked + .gender-radio:after{
            -webkit-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
}
.content-region-selected{
    @include flexbox();
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: rem-calc(88);
    padding: rem-calc(0 30);
    .region-icon{
        width: rem-calc(68);
        .icon{
            width: rem-calc(48);
            height: rem-calc(48);
            text-align: center;
            line-height: rem-calc(48);
            border-radius: rem-calc(6);
            color: #fff;
            font-size: rem-calc(36);
            display: block;
        }
    }
    .region-info{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        font-size: rem-calc(30);
        color: $color-title;
    }
    .region-text{
        font-size: rem-calc(30);
        color: $color-text-gray;
    }
}
.content-split-title{
        @include flexbox();
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        font-size: rem-calc(24);
        color: $color-text-gray;
        padding-bottom: rem-calc(12);
        .split-title{
            padding: rem-calc(0 56);
        }
        .split-line{
            width: rem-calc(184);
            height: 1px;
            background-color: #e6e6e6;
        }
}
.content-order-wrap{
    padding: rem-calc(0 30);
    .content-order-title{
        @include flexbox();
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        height: rem-calc(88);
        .order-title{
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
            color: $color-title;
        }
        .order-type{
            color: $color-text-gray;
        }
        .order-link{
            color: $color-primary;
        }
    }
    .content-order-info{
        border: 1px solid #e6e6e6;
        border-width: 1px 0;
        background-color: #f8f8f8;
        padding: rem-calc(10 20);
        li{
            font-size: rem-calc(24);
        }
    }
    .content-order-operation{
        @include flexbox();
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        min-height: rem-calc(88);
        .order-total{
            font-size: rem-calc(24);
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
        }
        .order-btn{
            .button-confirm{
                @include bg-btn(rem-calc(160), rem-calc(58), $color-primary, rem-calc(24));
            }
            .button-cancel{
                @include border-btn(rem-calc(160), rem-calc(58), $color-text-gray, rem-calc(24));
            }
            .button-disabled{
                display: block;
                background-color: #ddd;
                border: 1px solid #ddd;
                border-radius: rem-calc(8);
                text-align: center;
                color: #ffffff;
                white-space: nowrap;
            }
            .btn-service{
                width: rem-calc(120);
                .icon{
                    font-size: rem-calc(24);
                }
            }
            .btn-planned{
                width: rem-calc(210);
                height: rem-calc(58);
                line-height: rem-calc(58);
                font-size: rem-calc(24);
            }
            .button{
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .content-order-evaluate{
        border-top: 1px solid #e6e6e6;
        .order-evaluate-result{
            @include flexbox();
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
            height: rem-calc(80);
            .evaluate-level{
                @include flexbox();
                -webkit-align-items: center;
                -moz-align-items: center;
                align-items: center;
                font-size: rem-calc(24);
                color: $color-title;
                -webkit-flex: 1;
                -moz-flex: 1;
                flex: 1;
                .icon{
                    color: #e6e6e6;
                    font-size: rem-calc(36);
                    margin-right: rem-calc(15);
                    &.star-light{
                        color: #ffd200;
                    }
                }
            }
            .evaluate-info{
                font-size: rem-calc(24);
            }
        }
        .order-evaluate-tag{
            font-size: 0;
            padding-bottom: rem-calc(15);
            .label{
                @include label-bg(rem-calc(172), rem-calc(58), $color-primary, rem-calc(24));
                display: inline-block;
                margin: rem-calc(0 20 15 0);
            }
        }
        .order-evaluate-feedback{
            font-size: rem-calc(20);
            color: $color-text-gray;
            background-color: #f8f8f8;
            padding: rem-calc(20);
            margin-bottom: rem-calc(20);
            position: relative;
            &:before{
                content:"";
                width: 0;
                height: 0;
                display: block;
                position: absolute;
                top: rem-calc(-15);
                left: rem-calc(25);
                border-left: rem-calc(15) solid transparent;
                border-bottom: rem-calc(15) solid #f8f8f8;
                border-right: rem-calc(15) solid transparent;
            }
        }
    }
    .content-evaluate-operation{
        .order-evaluate-result{
            padding-top: rem-calc(10);
            .evaluate-level{
                text-align: center;
                .icon{
                    color: #e6e6e6;
                    font-size: rem-calc(56);
                    margin-right: rem-calc(30);
                    &:last-child{
                        margin-right: 0;
                    }
                    &.star-light{
                        color: #ffd200;
                    }
                }
            }
            .evaluate-info{
                text-align: center;
                font-size: rem-calc(24);
            }
        }
        .order-evaluate-tag{
            font-size: 0;
            padding-bottom: rem-calc(15);
            .title{
                font-size: rem-calc(24);
                color: $color-text-gray;
                padding-bottom: rem-calc(15);
            }
            .button{
                @include bg-btn(rem-calc(172), rem-calc(58), #f3f5f7, rem-calc(24));
                color: #999;
                display: inline-block;
                margin: rem-calc(0 20 15 0);
                &.status-active{
                    background-color: $color-primary;
                    color: #fff;
                }
            }
        }
    }
}
.evaluate-feedback{
    border: 0;
    width: 100%;
    display: block;
    color: $color-text-gray;
    font-size: rem-calc(24);
    padding: rem-calc(22 28);
    resize: none;
}
.content-payment-info{
    .type-info-wrap{
        .type-info-icon{
            width: rem-calc(102);
            padding-left: rem-calc(20);
            .icon{
                width: rem-calc(48);
                height: rem-calc(48);
                text-align: center;
                line-height: rem-calc(48);
                border-radius: rem-calc(6);
                color: #fff;
                font-size: rem-calc(36);
                display: block;
            }
            .icon-alipay{
                color: #3da7e9;
                font-size: rem-calc(48);
            }
        }
        .type-info-title{
            color: $color-title;
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
        }
        .type-info-arrow{
            .icon{
                margin-left: rem-calc(10);
            }
        }
        .type-info-radio{
            width: 20px;
            position: relative;
            &:before{
                content: "";
                display: block;
                width: 100%;
                height: 20px;
                background-color: #e5e5e5;
                border-radius: 50%;
                -webkit-transition: border 0.15s ease-in-out;
                -moz-transition: border 0.15s ease-in-out;
                transition: border 0.15s ease-in-out;
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 5px;
                left: 5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #2bcf9b;
                -webkit-transform: scale(0, 0);
                -moz-transform: scale(0, 0);
                transform: scale(0, 0);
                -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            }
        }
        input[type='radio']{
            display: none;
            opacity: 0;
            &:checked + .type-info-radio:after{
                -webkit-transform: scale(1, 1);
                -moz-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
    }
    .tip-info-detail{
        li{
            border-top: 1px solid #e6e6e6;
        }
        .type-info-title{
            -webkit-flex: inherit;
            -moz-flex: inherit;
            flex: inherit;
            width: auto !important;
        }
        .type-info-text{
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
            @include flexbox();
            -webkit-align-items:center;
            -moz-align-items:center;
            align-items:center;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            justify-content: space-between;
            .color-text-light{
                font-size: rem-calc(24);
            }
        }
    }
}
// date time
.picker-items {
    @include flexbox();
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    text-align: right;
    font-size: rem-calc(40);
    -webkit-mask-box-image: -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, 0.8) 15%, white 30%, white 70%, rgba(255, 255, 255, 0.8) 85%, transparent 100%);
    -webkit-mask-box-image: linear-gradient(top, transparent, rgba(255, 255, 255, 0.8) 15%, white 30%, white 70%, rgba(255, 255, 255, 0.8) 85%, transparent 100%);
}
.picker-modal-header + .picker-items{
    height: rem-calc(362);
}
.picker-items-col{
    overflow: hidden;
    position: relative;
    max-height: 100%;
    &.picker-items-col-left {
        text-align: left;
    }
    &.picker-items-col-center {
        text-align: center;
    }
    &.picker-items-col-right {
        text-align: right;
    }
    &.picker-items-col-divider {
        color: #000;
        @include flexbox();
        -webkit-align-items:center;
        -moz-align-items:center;
        align-items:center;
    }
}
.picker-items-col-wrapper {
    transition: 300ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.picker-item {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #bababa;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: 300ms;
    .picker-items-col-absolute &{
        position: absolute;
    }
    &.picker-item-far {
        pointer-events: none;
    }
    &.picker-selected {
        color: #000;
        transform: translate3d(0,0,0);
        transform: rotateX(0deg);
    }
    &.picker-before-selected {
    }
    &.picker-after-selected {
    }
}
.picker-center-highlight {
    height: 36px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -18px;
    @include hairline(top, #ededed);
    @include hairline(bottom, #ededed);
    pointer-events: none;
}
.operation-activity-helper{
    @include flexbox();
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    width: 100%;
    height: rem-calc(128);
    padding-top: rem-calc(24);
    a{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        text-align: center;
        font-size: rem-calc(24);
        color: #666;
        .icon{
            font-size: rem-calc(36);
            display: inline-block;
            width: rem-calc(48);
            height: rem-calc(48);
            text-align: center;
            line-height: rem-calc(48);
            border-radius: rem-calc(6);
            color: #fff;
        }
    }
}
// integral redeem
.integral-current{
    background-color: $color-primary;
    height: rem-calc(300);
    overflow: hidden;
    color: #fff;
    font-size: rem-calc(24);
    text-align: center;
    position: relative;
    .integral-text{
        font-size: rem-calc(120);
        line-height: rem-calc(150);
    }
    .integral-text-shadow{
        border-radius: 50%;
    }
    .integral-title{
        padding-top: rem-calc(45);
    }
    .integral-explain{
        position: absolute;
        color: #fff;
        top: rem-calc(26);
        right: rem-calc(30);
        .icon{
            font-size: rem-calc(24);
        }
    }
}
.integral-explain-box{
    li{
        height: auto;
        &:last-child{
            .integral-explain-item{
                @include hairline-remove(bottom);
            }
        }
    }
    .integral-explain-item{
        position: relative;
        @include hairline(bottom, #e6e6e6);
    }
    .integral-explain-title{
        color: $color-title;
        padding: rem-calc(20 0 15);
    }
    .integral-explain-text{
        padding-bottom: rem-calc(25);
        color: $color-text-gray;
        font-size: rem-calc(24);
    }
}
.integral-redeem-wrap{
    padding: rem-calc(15);
    .integral-redeem-item{
        float: left;
        width: 50%;
        padding: rem-calc(10 15);
        .item-image{
            width: 100%;
            position: relative;
            font-size: 0;
            .tag{
                height: rem-calc(40);
                line-height: rem-calc(40);
                white-space: nowrap;
                position: absolute;
                left: 0;
                top: 0;
                font-size: rem-calc(20);
                color: #fff;
                padding: rem-calc(0 12);
                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    position: absolute;
                    z-index: 12;
                    top: 0;
                    right: rem-calc(-12);
                }
            }
            .tag-green:after{
                border-top: rem-calc(21) solid transparent;
                border-left: rem-calc(12) solid $color-primary;
                border-bottom: rem-calc(21) solid transparent;
            }
            .tag-pink-light:after{
                border-top: rem-calc(21) solid transparent;
                border-left: rem-calc(12) solid $color-pink-light;
                border-bottom: rem-calc(21) solid transparent;
            }
        }
        .item-info{
            font-size: rem-calc(20);
            color: $color-title;
            padding-top: rem-calc(5);
        }
        .item-info-price{
            @include flexbox();
            -webkit-align-items:center;
            -moz-align-items:center;
            align-items:center;
            color: $color-text-light;
            margin-top: rem-calc(5);
            .icon{
                font-size: rem-calc(22);
            }
            .color-danger{
                -webkit-flex: 1;
                -moz-flex: 1;
                flex: 1;
                padding-left: rem-calc(5);
            }
        }
    }
    .content-info-box{
        padding: rem-calc(0 15);
        .info-title{
            font-size: rem-calc(30);
            color: $color-title;
        }
        .info-price{
            @include flexbox();
            -webkit-align-items:center;
            -moz-align-items:center;
            align-items:center;
            color: $color-text-light;
            margin-top: rem-calc(5);
            font-size: rem-calc(24);
            .icon{
                font-size: rem-calc(24);
                color: $color-text-gray;
            }
            .color-danger{
                -webkit-flex: 1;
                -moz-flex: 1;
                flex: 1;
                padding-left: rem-calc(5);
                font-size: rem-calc(36);
            }
        }
    }
}
.reddem-product-box{
    @include flexbox();
    padding: rem-calc(20);
    .reddem-product-img{
        width: rem-calc(150);
        height: rem-calc(150);
        overflow: hidden;
    }
    .reddem-product-info{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        text-align: left;
        padding-left: rem-calc(20);
        font-size: rem-calc(22);
        color: $color-title;
        .product-info-title{
            font-weight: bold;
            padding-bottom: rem-calc(20);
        }
        .product-info-price{
            font-size: rem-calc(36);
            .icon{
                font-size: rem-calc(24);
                color: $color-text-gray;
            }
        }
    }
}
.reddem-product-amount{
    text-align: left;
    padding-left: rem-calc(20);
    .amount-title{
        font-size: rem-calc(22);
        color: $color-text-gray;
        margin-right: rem-calc(30);
    }
}
.content-recommend-box{
    text-align: center;
    padding: rem-calc(0 30);
    .recommend-title{
        font-size: rem-calc(30);
        color: $color-primary;
        padding-top: rem-calc(30);
    }
    .recommend-info{
        font-size: rem-calc(24);
        color: $color-text-gray;
        padding: rem-calc(30 0);
    }
    .recommend-btn{
        @include bg-btn(100%, rem-calc(88), $color-primary, rem-calc(36));
        margin-bottom: rem-calc(30);
    }
    .recommend-QR{
        width: rem-calc(302);
        height: rem-calc(302);
        margin:rem-calc(30) auto 0;
    }
}
// my information
.information-box{
    li{
        padding: rem-calc(0 30);
        &:last-child{
            .information-content,
            .information-info{
                @include hairline-remove(bottom);
            }
        }
    }
    .information-title{
        @include flexbox();
        -webkit-align-items:center;
        -moz-align-items:center;
        align-items:center;
        min-height: rem-calc(88);
    }
    .information-title-icon{
        width: rem-calc(100);
        padding-left: rem-calc(22);
        .icon{
            width: rem-calc(48);
            height: rem-calc(48);
            text-align: center;
            line-height: rem-calc(48);
            border-radius: rem-calc(6);
            color: #fff;
            font-size: rem-calc(36);
            display: block;
        }
    }
    .information-title-text{
        font-size: rem-calc(30);
        color: $color-title;
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
    }
    .information-title-date{
        font-size: rem-calc(22);
        color: $color-text-gray
    }
    .information-content{
        padding: rem-calc(0 0 20 100);
        font-size: rem-calc(22);
        position: relative;
        @include hairline(bottom, #e6e6e6);
    }
    .information-item{
        @include flexbox();
        padding-top: rem-calc(30);
        .information-tag{
            width: rem-calc(142);
            .tag{
                width: rem-calc(120);
                height: rem-calc(120);
                line-height: rem-calc(120);
                font-size: rem-calc(56);
                text-align: center;
                color: #fff;
                border-radius: rem-calc(25);
                display: block;
            }
        }
        .information-info{
            font-size: rem-calc(22);
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
            padding-bottom: rem-calc(25);
            position: relative;
            @include hairline(bottom, #e6e6e6);
            .information-info-title{
                font-size: rem-calc(30);
                color: $color-title;
                font-weight: bold;
                padding-bottom: rem-calc(15);
            }
        }
    }
}
// game helper
.game-helper-wrap{
    padding: rem-calc(15);
    .game-helper-item{
        float: left;
        width: 50%;
        padding: rem-calc(15);
        .item-image{
            width: 100%;
            position: relative;
            overflow: hidden;
            font-size: 0;
        }
        .item-tag{
            font-size: rem-calc(30);
            color: #fff;
            white-space: nowrap;
            height: rem-calc(64);
            line-height: rem-calc(64);
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
            width: 100%;
            display: block;
            .icon{
                font-size: rem-calc(30);
            }
        }
    }
    .content-info-box{
        padding: rem-calc(0 15);
        .info-title{
            font-size: rem-calc(30);
            color: $color-title;
        }
        .info-price{
            @include flexbox();
            -webkit-align-items:center;
            -moz-align-items:center;
            align-items:center;
            color: $color-text-light;
            margin-top: rem-calc(5);
            font-size: rem-calc(24);
            .icon{
                font-size: rem-calc(24);
                color: $color-text-gray;
            }
            .color-danger{
                -webkit-flex: 1;
                -moz-flex: 1;
                flex: 1;
                padding-left: rem-calc(5);
                font-size: rem-calc(36);
            }
        }
    }
}
