@charset "utf-8";
// module 组件

/* 首页 样式  */
// nav
.content-nav{
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    margin-bottom: rem-calc(20);
    & > a{
        display: block;
        float: left;
        width: 100%;
        height: rem-calc(149);
        position: relative;
        border-top: 1px solid #e6e6e6;
        .nav-text{
            @include box();
            @include box-o-p(vertical, center);
        }
        .nav-title{
            font-size: rem-calc(30);
        }
        .nav-title-sub{
            font-size: rem-calc(24);
            color: $color-text-gray;
        }
    }
    .nav-wrap{
        @include box();
        width: 100%;
        height: 100%;
    }
    .nav-icon{
        background: url("../img/nav-guide-icon.png") no-repeat 0 0;
        background-size: 100%;
        width: rem-calc(56);
        height: rem-calc(56);
        margin: rem-calc(40 30 0 52);
    }
    .nav-guide > .nav-wrap{
        background: url("../img/nav-guide-bg.png") no-repeat right 0;
        background-size: 100%;
    }
    .nav-show,
    .nav-helper{
        width: 50%;
    }
    .nav-show{
        &:after{
            content: "";
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            border-right: 1px solid #e6e6e6;
        }
        .nav-icon{
            background-position: 0 rem-calc(-56);
        }
    }
    .nav-helper{
        .nav-icon{
            background-position: 0 rem-calc(-112);
        }
    }
}
.content-inner{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-width: 1px 0;
    .content-title{
        font-size: rem-calc(30);
        padding: rem-calc(25 30 15);
    }
    .content-title-center{
        text-align: center;
        font-size: rem-calc(30);
        padding: rem-calc(25 0);
    }
    .content-list-box{
        padding: rem-calc(0 12);
    }
    .list-item{
        padding-bottom: rem-calc(20);
        a{
            display: block;
            & > .title{
                font-size: rem-calc(30);
                color: #333;
                padding: rem-calc(25 0 15);
            }
        }
        .title{
            .tag{
                font-size: rem-calc(20);
                color: #fff;
                height: rem-calc(30);
                line-height: rem-calc(30);
                padding:rem-calc(0 10);
                text-align: center;
                margin-right: rem-calc(20);
                border-radius: rem-calc(5);
                display: inline-block;
                vertical-align: middle;
            }
        }
        .photo{
            position: relative;
            font-size: 0;
            .tag{
                position: absolute;
                left: 0;
                top: 0;
                font-size: rem-calc(20);
                color: #fff;
            }
        }
        .info{
            @include box();
            -webkit-box-pack: justify;
            -moz-box-pack: justify;
            box-pack: justify;
            font-size: rem-calc(30);
            color: #333;
            padding: rem-calc(25 0);
            .price{
                span{
                    color: $color-danger;
                }
            }
        }
        .text{
            font-size: rem-calc(20);
            color: $color-text-gray;
        }
    }
}
.phone-box{
    @include box();
    & > *{
        @include box();
        @include box-o-p(vertical, center);
    }
    @include arrow-right(rem-calc(24), rem-calc(50));
    .phone-icon{
        width: rem-calc(48);
        text-align: center;
        margin-left: rem-calc(52);
        .icon{
            width: 100%;
            height: rem-calc(48);
            line-height: rem-calc(48);
            border-radius: rem-calc(6);
            background-color: $color-primary;
            color: #fff;
            font-size: rem-calc(36);
            display: block;
        }
    }
    .phone-type{
        padding-left: rem-calc(32);
    }
    .phone-num{
        color: $color-text-gray;
        padding-left: rem-calc(72);
    }
}
/* 产品页 样式 */
// 详情页
.content-banner{
    font-size: 0;
}
.content-main-info{
    border-top: 0;
    margin-bottom: rem-calc(10);
    .content-title{
        border-bottom: 1px solid #e6e6e6;
    }
}
.content-info-box{
    padding: rem-calc(0 15);
    ul{
        overflow: hidden;
    }
    li{
        float: left;
        padding: rem-calc(0 15);
        font-size: rem-calc(24);
        color: #333;
        width: 50%;
        .info-item-wrap{
            width: 100%;
            border-bottom: 1px solid #e6e6e6;
            min-height: rem-calc(88);
            overflow: hidden;
            @include box();
            & div{
                @include box();
                @include box-o-p(vertical, center);
            }
        }
        &:last-child{
            .info-item-wrap{
                border-bottom: 0;
            }
        }
        .title{
            width: rem-calc(100);
        }
        .current{
            color: $body-font-color;
            padding-left: rem-calc(26);
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            box-flex: 1;
            white-space: nowrap;
        }
        .icon{
            color: #999;
            padding-right: rem-calc(10);
        }
        del{
            color: #bbb;
            padding-left: rem-calc(40);
            font-size: rem-calc(24);
        }
        &.price{
            width: 100%;
            .current{
                color: $color-danger;
                font-size: rem-calc(36);
            }
        }
    }
}
.content-wrap{
    padding: rem-calc(20 0 10);
    .content-type-title{
        font-size: rem-calc(22);
        padding: rem-calc(0 30 15);
    }
    .content-type-description{
        padding: rem-calc(50 20);
        p{
            font-size: rem-calc(24);
        }
        .photo{
            margin-top: rem-calc(15);
        }
    }
    .content-type-info{
        li{
            padding: rem-calc(0 30);
            &:last-child{
                .type-info-wrap{
                    border-bottom: 0;
                }
            }
        }
        .type-info-wrap{
            @include box();
            font-size: rem-calc(30);
            height: rem-calc(88);
            border-bottom: 1px solid #e6e6e6;
            div{
                @include flexbox();
                align-items:center;
            }
            .type-info-title{
                width: rem-calc(190);
            }
            .type-info-input{
                -webkit-box-flex: 1;
                -moz-box-flex: 1;
                box-flex: 1;
            }
        }
    }
    .content-type-insurance{
        li{
            padding: rem-calc(30);
            border-bottom: 1px solid #e6e6e6;
            position: relative;
            &:last-child{
                border-bottom: 0;
            }
        }
        .insurance-title{
            font-size: rem-calc(30);
            color: $color-title;
            font-weight: 500;
            padding-bottom: rem-calc(20);
            border-bottom: 1px solid #e6e6e6;
        }
        .insurance-content{
            .insurance-info{
                @include box();
                -webkit-box-pack: justify;
                -moz-box-pack: justify;
                box-pack: justify;
                padding: rem-calc(15 0 20);
                div{
                    @include flexbox();
                    align-items:center;
                }
                .insurance-text{
                    font-size: rem-calc(24);
                }
                .insurance-checkbox{
                    width: rem-calc(30);
                    text-align: center;
                    .icon{
                        width: 100%;
                        height: rem-calc(30);
                        line-height: rem-calc(30);
                        border-radius: rem-calc(4);
                        background-color: #e5e5e5;
                        color: #e5e5e5;
                        font-size: rem-calc(24);
                        display: block;
                    }
                }
                &.status-active{
                    .icon{
                        background-color: $color-primary;
                        color: #fff;
                    }
                }
            }
            .arrow-top{
                width: rem-calc(80);
                height: rem-calc(60);
                line-height: rem-calc(60);
                position: absolute;
                bottom: 0;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
                text-align: center;
                .icon{
                    color: $color-text-gray;
                }
            }
            .insurance-description{
                font-size: rem-calc(20);
                color: $color-text-gray;
                padding: rem-calc(20 15 15);
                transition-duration: 300ms;
                opacity: 1;
                p{
                    padding-bottom: rem-calc(10);
                }
                &.div-collapse{
                    padding-top: 0;
                }
            }
        }
    }
    .content-type-filter{
        padding: rem-calc(20 0 10);
        font-size: 0;
        overflow: hidden;
        .filter-btn-wrap{
            width: 25%;
            padding: rem-calc(0 6 10);
            display: inline-block;
            .filter-btn{
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.content-operation{
    padding: rem-calc(20);
}
//发现
.content-inner{
    .list-league-construction{
        padding: rem-calc(0 30);
        .list-item{
            position: relative;
            @include hairline(bottom, #e6e6e6);
            .text{
                padding-top: rem-calc(15);
            }
            &:last-child{
                @include hairline-remove(bottom);
            }
        }
    }
}

/* 我的 样式 */
.content-user-box{
    @include flexbox();
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    font-size: rem-calc(30);
    color: $color-title;
    height: rem-calc(186);
    .user-avatar{
        width: rem-calc(190);
        padding: rem-calc(0 30);
        font-size: 0;
        img{
            border-radius: rem-calc(10);
        }
    }
    .user-name{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
    }
    .user-arrow{
        padding-right: rem-calc(35);
        .icon{
            color: $color-text-gray;
        }
    }
}
