@charset "utf-8";
// 模态窗口 组件

// modal
.modal-overlay, .preloader-indicator-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: $modal-duration;
    transition-duration: $modal-duration;
    &.modal-overlay-visible {
        visibility: visible;
        opacity: 1;
    }
}
.modal {
    width: rem-calc(540);
    position: fixed;
    z-index: 11000;
    left: 50%;
    display: none;
    margin-left: rem-calc(-270);
    margin-top: 0;
    top: 50%;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    background-color: #ffffff;
    overflow: hidden;
    -webkit-transform: translate3d(0, -50%, 0) scale(1.185);
    -ms-transform: translate3d(0, -50%, 0) scale(1.185);
    transform: translate3d(0, -50%, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    &.modal-in {
        opacity: 1;
        z-index: 11002;
        display: block;
        -webkit-transition-duration: $modal-duration;
        transition-duration: $modal-duration;
        -webkit-transform: translate3d(0, -50%, 0) scale(1);
        -ms-transform: translate3d(0, -50%, 0) scale(1);
        transform: translate3d(0, -50%, 0) scale(1);
    }
    &.modal-out {
        opacity: 0;
        z-index: 11000-1;
        -webkit-transition-duration: $modal-duration;
        transition-duration: $modal-duration;
        -webkit-transform: translate3d(0,0,0) scale(0.815);
        -ms-transform: translate3d(0,0,0) scale(0.815);
        transform: translate3d(0,0,0) scale(0.815);
    }
}
.modal-inner {
    padding: rem-calc(40 50);
    @include hairline(bottom, #d9d9d9);
    position: relative;
    background: #f3f3f3;
}
.modal-title {
    font-size: rem-calc(34);
    color: $color-title;
    & + .modal-text {
        margin-top: rem-calc(5);
        font-size: rem-calc(26);
        color: $color-text-gray;
    }
}
.modal-buttons {
    height: rem-calc(82);
    overflow: hidden;
    @include flexbox();
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    &.modal-buttons-vertical {
        display: block;
        height: auto;
    }
}
.modal-button {
    width: 100%;
    padding: 0 0.25rem;
    height: rem-calc(82);
    font-size: rem-calc(34);
    line-height: rem-calc(82);
    text-align: center;
    color: $color-primary;
    background: #f3f3f3;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-flex:1;
    -ms-flex:1;
    &:first-child {
        border-radius: 0 0 0 5px;
    }
    &:last-child {
        border-radius: 0 0 5px 0;
    }
    &:first-child:last-child {
        border-radius: 0 0 5px 5px;
    }
    &.modal-button-bold {
        font-weight: normal;
        border-left: 1px solid #d9d9d9;
    }
    html:not(.watch-active-state) &:active, &.active-state {
        background: #eee;
    }
    .modal-buttons-vertical & {
        @include hairline-remove(right);
        @include hairline-remove(top);
        @include hairline(bottom, #b5b5b5);
        border-radius: 0;
        &:last-child {
            border-radius: 0 0 5px 5px;
            @include hairline-remove(bottom);
        }
    }
}
.modal-no-buttons {
    .modal-inner {
        border-radius: 0.35rem;
        @include hairline-remove(bottom);
    }
    .modal-buttons {
        display: none;
    }
}

// Action sheet
.actions-modal {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11000;
    width: 100%;
    transform: translate3d(0,100%,0);
    &.modal-in {
        transition-duration: $actions-modal-duration;
        transform: translate3d(0,0,0);
    }
    &.modal-out {
        z-index: 11000-1;
        transition-duration: $actions-modal-duration;
        transform: translate3d(0,100%,0);
    }
}
.actions-modal-button, .actions-modal-label {
    width: 100%;
    font-size: rem-calc(30);
    min-height: rem-calc(88);
    text-align: center;
    font-weight: normal;
    margin: 0;
    background: $actions-modal-button-bg;
    box-sizing: border-box;
    display: block;
    position: relative;
    @include hairline(bottom, #e6e6e6);
    a {
        text-decoration: none;
        color: inherit;
    }
    &.actions-modal-button-danger {
        color: $color-danger;
    }
    &.color-danger {
      color: $color-danger;
    }
    &.bg-danger {
        background: $color-danger;
        color: white;
        &:active {
            background: $color-danger-active;
        }
    }
    &:last-child {
        @include hairline-remove(bottom);
    }
    &.disabled {
        opacity: 0.95;
        color: #ddd;
    }
}
.actions-modal-button {
    color: $color-title;
    line-height: rem-calc(88);
    &:active, &.active-state {
        background: $actions-modal-active-button-bg;
    }
}
.actions-modal-label {
    padding: rem-calc(10);
    color: $body-font-color;
    @include box();
    @include box-o-p(vertical, center);
}
.actions-list-item{
    background-color: #fff;
    text-align: left;
    &:active, &.active-state {
        background: #eee;
    }
}
.actions-confirm-btn{
    color: #fff;
    background-color: $color-primary;
    &:active{
        background-color: #158655;
    }
}

// Picker Modal
.picker-modal {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem-calc(450);
    z-index: 11500;
    display: none;
    transition-property: transform;
    background: #cfd5da;
    transform: translate3d( 0,100%,0);
    &.modal-in, &.modal-out {
        transition-duration: 400ms;
    }
    &.modal-in {
        transform: translate3d(0,0,0);
    }
    &.modal-out {
        transform: translate3d(0,100%,0);
    }
    .picker-modal-header{
        background-color: #f7f7f7;
        border-bottom: 1px solid #e6e6e6;
        position: relative;
        height: rem-calc(88);
        .title{
            position: absolute;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            line-height: rem-calc(88);
            white-space: nowrap;
            text-align: center;
            font-size: rem-calc(30);
        }
        .header-link{
            display: inline-block;
            height: 100%;
            line-height: rem-calc(88);
            vertical-align: middle;
            font-size: rem-calc(30);
            position: relative;
            z-index: 20;
            background: none;
            border: 0;
            color: $color-primary;
            &.pull-left{
                padding-left: rem-calc(35);
            }
            &.pull-right{
                padding-right: rem-calc(35);
            }
        }
    }
    .picker-modal-inner {
        height: 100%;
        position: relative;
        background-color: #fff;
    }
    .toolbar {
        @include hairline(top, $color-text-gray);
        position: relative;
        width: 100%;
        + .picker-modal-inner {
            height: -webkit-calc(100% - 2.2rem);
            height: -moz-calc(100% - 2.2rem);
            height: calc(100% - 2.2rem);
        }
    }
    &.picker-modal-inline, .popover & {
        display: block;
        position: relative;
        background: none;
        z-index: inherit;
        transform: translate3d(0,0,0);
        .toolbar {
            @include hairline-remove(top);
            @include hairline(bottom, $color-text-gray);
        }
    }
    .popover & {
        width: auto;
        .toolbar {
            background: none;
        }
    }
}
