@charset "utf-8";
// page 组件


/* Page 的样式  */
.page-wrap{
    width: 100%;
    height: 100%;
    font-family: $body-font-family;
    background: #f5f5f5;
    position: absolute;
    left: 0;
    top: 0;
}
.page{
    @include box-sizing(border-box);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content{
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.bar-nav ~ .content{
    top: rem-calc(88);
}
.bar-sub-nav ~ .content{
    top: rem-calc(176);
}
.bar-footer ~ .content{
    bottom: rem-calc(98);
}

/* 顶部导航 */
.bar{
    background: #fff;
    width: 100%;
    height: rem-calc(88);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    h1{
        font-size: rem-calc(30);
        font-weight: normal;
        position: absolute;
        display: block;
        width: 100%;
        line-height: rem-calc(88);
        text-align: center;
        white-space: nowrap;
    }
    .bar-center{
        position: absolute;
        width: 100%;
        height: 100%;
        h1{
            font-size: rem-calc(36);
            color: #333;
        }
        .bar-input{
            width: rem-calc(400);
            height: rem-calc(60);
            margin: rem-calc(14 0 0 152);
            position: relative;
            .icon{
                font-size: rem-calc(36);
                position: absolute;
                left: rem-calc(15);
                top: rem-calc(5);
            }
        }
        input{
            width: 100%;
            height: 100%;
            border: 0;
            background-color: #f3f5f7;
            border-radius: rem-calc(30);
            padding: rem-calc(10 30 10 55);
            font-size: rem-calc(28);
        }
    }
    .bar-menu{
        display: inline-block;
        vertical-align: middle;
        min-width: rem-calc(88);
        font-size: rem-calc(28);
        line-height: rem-calc(88);
        color: $body-font-color;
        position: relative;
        z-index: 20;
        i{
            font-size: rem-calc(36);
            vertical-align: middle;
        }
        span{
            vertical-align: middle;
        }
        &.menu-left{
            float: left;
            padding-left: rem-calc(14);
        }
        &.menu-right{
            float: right;
            text-align: right;
            padding-right: rem-calc(14);
        }
    }
    &.bar-nav{
        top: 0;
        border-bottom: rem-calc(2) solid #e5e5e5;
    }
    &.bar-sub-nav{
        top: rem-calc(88);
        border-bottom: rem-calc(2) solid #e5e5e5;
    }
    &.bar-footer{
        bottom: 0;
        height: rem-calc(98);
        border-top: rem-calc(2) solid #e5e5e5;
        background: #f8f8f8;
    }
}
.bar-tab{
    position: relative;
    @include flexbox();
    flex-wrap: nowrap;
    align-self: center;
    @include compatible(box-lines,single);
    .tab-nav{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        display: block;
        width: 100%;
        height: rem-calc(88);
        text-align: center;
        font-size: rem-calc(30);
        line-height: rem-calc(88);
        border-bottom: 2px solid transparent;
        &.active{
            border-color: $color-primary;
        }
    }
}
.bar-link{
    @include flexbox();
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    height: 100%;
    .bar-link-item{
        font-size: rem-calc(22);
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        text-align: center;
        color: #666;
        border-right: 1px solid #e6e6e6;
        &:last-child{
            border-right: 0;
        }
        .icon{
            font-size: rem-calc(22);
        }
    }
}

/* 底部导航 */
.footer-menu{
    @include flexbox();
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    width: 100%;
    a{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        text-align: center;
        font-size: rem-calc(22);
        color: #666;
        padding-top: rem-calc(8);
        &:hover,
        &:active,
        &.active{
            color: $color-primary;
        }
        .icon{
            font-size: rem-calc(36);
            display: block;
            width: 100%;
        }
    }
    .custom{
        position: relative;
        .icon{
            color: #f8f8f8;
        }
        .button{
            background-color: $color-primary;
            border-radius: 50%;
            width: rem-calc(90);
            height: rem-calc(90);
            line-height: rem-calc(90);
            display: block;
            position: absolute;
            left: 50%;
            bottom: rem-calc(40);
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            color: #fff;
            text-align: center;
            .icon{
                font-size: rem-calc(56);
            }
        }
    }
    .btn-evaluate{
        padding-top: 0;
        font-size: rem-calc(36);
        color: #fff;
        line-height: rem-calc(98);
        &:hover,
        &:active{
            color: #fff;
        }
    }
}
.footer-tip{
    align-items:center;
    .tip-info{
        font-size: rem-calc(24);
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        padding-left: rem-calc(30);
    }
    .footer-btn{
        width: rem-calc(200);
    }
    .required-info{
        display: none;
    }
    .tip-info-text{
        color: $color-text-gray;
        .tip-info-total *{
            display: inline-block;
            vertical-align: middle;
        }
        .color-danger{
            margin-right: rem-calc(20);
        }
        .icon{
            color: $color-text-gray;
            font-size: rem-calc(20);
        }
    }
    .tip-info-detail{
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: rem-calc(98);
        background-color: #fff;
        border-top: 1px solid #e6e6e6;
        transition-duration: 300ms;
        opacity: 1;
        &.div-collapse{
            bottom: 0;
        }
        .content-type-info{
            li{
                padding: rem-calc(0 30);
                &:last-child{
                    .type-info-wrap{
                        border-bottom: 0;
                    }
                }
            }
            .type-info-wrap{
                @include flexbox();
                -webkit-align-items:center;
                -moz-align-items:center;
                align-items:center;
                font-size: rem-calc(30);
                height: rem-calc(88);
                border-bottom: 1px solid #e6e6e6;
                .type-info-title{
                    width: rem-calc(190);
                    border-right: 1px solid #e6e6e6;
                }
                .type-info-text{
                    -webkit-flex: 1;
                    -moz-flex: 1;
                    flex: 1;
                    @include flexbox();
                    -webkit-align-items:center;
                    -moz-align-items:center;
                    align-items:center;
                    -webkit-justify-content: space-between;
                    -moz-justify-content: space-between;
                    justify-content: space-between;
                    padding-left: rem-calc(20);
                    .color-text-light{
                        font-size: rem-calc(24);
                    }
                }
            }
        }
    }
    &.disabled{
        color: #bbb;
        .required-info{
            display: block;
        }
        .tip-info-text{
            display: none;
        }
        .footer-btn{
            background-color: #ddd;
        }
    }
}
/* 浮动菜单 */
.page-nav{
    position: absolute;
    right: rem-calc(30);
    bottom: rem-calc(128);
    z-index: 21;
    ul{
        padding: rem-calc(22 14);
        border-radius: rem-calc(49);
        transition-duration: 500ms;
        &.active{
            background-color: rgba(0,0,0,.7);
            li{
                display: block;
                &.menu a{
                    background-color: $color-primary;
                }
            }
        }
    }
    li{
        margin-bottom: rem-calc(10);
        display: none;
        min-width: rem-calc(72);
        &:last-child{
            margin-bottom: 0;
        }
    }
    a{
        text-align: center;
        display: block;
        color: #fff;
        font-size: rem-calc(18);
        .icon{
            font-size: rem-calc(36);
        }
    }
    .menu{
        display: block;
        a{
            background-color: rgba(0,0,0,.3);
            width: rem-calc(56);
            height: rem-calc(56);
            line-height: rem-calc(56);
            border-radius: 50%;
            margin: 0 auto;
        }
    }
}
.page-mark{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    z-index: 20;
}

/* preloader */
.preloader-loading {
    margin: rem-calc(10) auto rem-calc(50);
    width: 40px;
    text-align: center;
    div{
        width: 8px;
        height: 8px;
        background-color: #bbb;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: three-bounce-delay 1.4s infinite ease-in-out;
        animation: three-bounce-delay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .preloader-loading-bounce1{
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .preloader-loading-bounce2{
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}
.infinite-scroll-preloader{
    .content-split-title{
        margin: rem-calc(10) auto rem-calc(48);
        .split-title{
            color: #bbb;
        }
    }
}
/* phone box */
.phone-box{
    @include box();
    & > *{
        @include box();
        @include box-o-p(vertical, center);
    }
    @include arrow-right(rem-calc(24), rem-calc(50));
    .phone-icon{
        width: rem-calc(48);
        text-align: center;
        margin-left: rem-calc(52);
        .icon{
            width: 100%;
            height: rem-calc(48);
            line-height: rem-calc(48);
            border-radius: rem-calc(6);
            background-color: $color-primary;
            color: #fff;
            font-size: rem-calc(36);
            display: block;
        }
    }
    .phone-type{
        padding-left: rem-calc(32);
    }
    .phone-num{
        color: $color-text-gray;
        padding-left: rem-calc(72);
    }
}
/* share box */
.share-box,
.quick-login{
    @include flexbox();
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    width: 100%;
    height: rem-calc(240);
    padding-top: rem-calc(50);
    a{
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        text-align: center;
        font-size: rem-calc(24);
        color: $color-title;
        .icon{
            font-size: rem-calc(55);
            display: inline-block;
            width: rem-calc(88);
            height: rem-calc(88);
            text-align: center;
            line-height: rem-calc(88);
            border-radius: 50%;
            color: #fff;
        }
        p{
            line-height: initial;
        }
    }
}
.quick-login{
    padding-top: rem-calc(40);
}
/* amount box */
.amount-box{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: rem-calc(62);
    line-height: rem-calc(62);
    overflow: hidden;
    & > *{
        float: left;
        text-align: center;
    }
    button{
        color: #5f646e;
        width: rem-calc(60);
        height: 100%;
        line-height: rem-calc(62);
        .icon{
            font-size: rem-calc(24);
        }
        &.disabled{
            color: #cfcfcf;
        }
    }
    input[type='number']{
        width: rem-calc(86);
        height: 100%;
        line-height: rem-calc(62);
        font-size: rem-calc(30);
        border: 1px solid #ddd;
        border-width: 0 1px;
    }
}
.page-tips{
    text-align: center;
    font-size: rem-calc(24);
    color: $color-text-gray;
    padding-top: rem-calc(100);
}
/* Logo */
.content-logo{
    text-align: center;
    padding: rem-calc(30 0 25);
    .logo{
        width: rem-calc(300);
        height: rem-calc(100);
        display: inline-block;
    }
}
