@charset "utf-8";

//
// 配置文件
//

// 全局设定
$base-font-size: 30 !default;
$body-bg: #f3f5f7 !default;
$body-font-color: #666 !default;
$body-font-family: STHeiTi,"Microsoft YaHei",Helvetica,"Helvetica Neue", sans-serif !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;

// 字体
$class-font-account:20;
$class-font:2;

// 主色
$color-primary: #06cc93;
$color-danger: #ff000c;
$color-warning: #ffa500;
$color-success: #48dc6b;
$color-pink: #ff4966;
$color-blue: #0091ff;
$color-purple: #6a71e5;
$color-baby-blue: #61d2fe;
$color-yellow: #ffd200;
$color-pink-light: #ff5534;

$color-primary-active: #0bb57e;
$color-danger-active: #dd020c;
$color-warning-active: #db8e00;
$color-success-active: #38ad54;

$color-title: #333;
$color-text-gray: #999;
$color-text-gray-light: #ccc;
$color-text-light: #bbb;
$color-link: $color-primary;
$color-link-active: $color-primary-active;

// Bars

$bar-base-height: 86;

// 按钮

$button-font-size: 36;

// 浏览器
$class-browser-nav:-webkit- -moz- '';

// 弹出窗

$modal-bg-color: #e8e8e8 !default;
$modal-buton-color: #141414 !default;
$modal-buton-bg: $modal-bg-color !default;
$modal-buton-active-bg: #d4d4d4 !default;
$modal-duration: 400ms !default;
$actions-modal-duration: 300ms !default;
$actions-modal-button-bg: #f8f8f8 !default;
$actions-modal-active-button-bg:#dcdcdc;
$popover-bg: rgba(255,255,255,0.95) !default;
$popup-Duration: 400ms !default;

