@charset "UTF-8";
html {
  font-size: 20px; }

@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333px !important; } }
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important; } }
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important; } }
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0; }

html,
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 0.4rem;
  font-family: STHeiTi, "Microsoft YaHei", Helvetica, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #f3f5f7;
  line-height: 1.5;
  color: #666666;
  overflow: hidden; }

img {
  border: 0; }

a, input, textarea, select, button {
  outline: 0; }

textarea {
  overflow: auto; }

select {
  width: 100%; }

a {
  text-decoration: none;
  color: #06cc93;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:active {
    color: #0bb57e; }

ul, li {
  list-style: none; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

.none {
  display: none !important; }

input[type="submit"],
input[type="reset"],
input[type="button"], button {
  -webkit-appearance: none; }

input {
  line-height: normal; }

/* 图片样式 */
.img-all {
  width: 100%; }

/* Page 的样式  */
.page-wrap {
  width: 100%;
  height: 100%;
  font-family: STHeiTi, "Microsoft YaHei", Helvetica, "Helvetica Neue", sans-serif;
  background: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0; }

.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.content {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  width: 100%; }

.bar ~ .content {
  top: 2.2rem; }

/* 顶部导航 */
.bar {
  background: #fff;
  width: 100%;
  height: 2.2rem;
  border-bottom: 0.05rem solid #e5e5e5;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10; }
  .bar h1 {
    font-size: 0.75rem;
    font-weight: normal;
    position: absolute;
    display: block;
    width: 100%;
    line-height: 2.15rem;
    text-align: center;
    white-space: nowrap; }
  .bar .bar-center {
    position: absolute;
    width: 100%;
    height: 100%; }
    .bar .bar-center .bar-input {
      width: 10rem;
      height: 1.5rem;
      margin: 0.35rem auto 0; }
    .bar .bar-center input {
      width: 100%;
      height: 100%;
      border: 0;
      background-color: #f3f5f7;
      border-radius: 0.75rem;
      padding: 0.25rem 0.75rem 0.25rem 1.375rem; }
  .bar .bar-menu {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7rem;
    line-height: 2.15rem;
    color: #666666;
    position: relative;
    z-index: 20; }
    .bar .bar-menu i {
      font-size: 0.6rem;
      vertical-align: middle;
      margin-right: 0.1rem; }
    .bar .bar-menu span {
      vertical-align: middle; }
    .bar .bar-menu.menu-left {
      float: left;
      padding-left: 0.35rem; }
    .bar .bar-menu.menu-right {
      float: right;
      padding-right: 0.35rem; }

.button-type {
  padding: 0.5rem; }

.btn {
  display: block;
  height: 2.2rem;
  width: 100%;
  font-size: 0.9rem;
  background-color: #06cc93;
  border-radius: 0.2rem;
  text-align: center;
  line-height: 2.2rem;
  color: #ffffff;
  white-space: nowrap;
  margin-bottom: 0.25rem; }
  .btn:active {
    color: #06cc93;
    background-color: #ffffff;
    border: 1px solid #06cc93; }
  .btn.btn-success {
    background-color: #48dc6b; }
    .btn.btn-success:active {
      color: #48dc6b;
      background-color: #fff;
      border-color: #48dc6b; }
  .btn.btn-warn {
    background-color: orange; }
    .btn.btn-warn:active {
      color: orange;
      background-color: #fff;
      border-color: orange; }
  .btn.btn-danger {
    background-color: #ff000c; }
    .btn.btn-danger:active {
      color: #ff000c;
      background-color: #fff;
      border-color: #ff000c; }
  .btn.btn-default {
    background-color: #dddddd; }
    .btn.btn-default:active {
      color: #dddddd;
      background-color: #fff;
      border-color: #dddddd; }

.btn-rounded {
  border-radius: 1.25rem; }

.btn-outline {
  display: block;
  height: 2.2rem;
  width: 100%;
  font-size: 0.9rem;
  border: 1px solid #06cc93;
  border-radius: 0.2rem;
  text-align: center;
  line-height: 2.2rem;
  color: #06cc93;
  white-space: nowrap;
  margin-bottom: 0.25rem; }
  .btn-outline:active, .btn-outline:focus {
    color: #fff;
    background-color: #06cc93;
    border: 1px solid #06cc93; }
  .btn-outline.btn-success {
    border-color: #48dc6b;
    color: #48dc6b; }
    .btn-outline.btn-success:active, .btn-outline.btn-success:focus {
      color: #fff;
      background-color: #48dc6b;
      border: 1px solid #48dc6b; }
  .btn-outline.btn-warn {
    border-color: orange;
    color: orange; }
    .btn-outline.btn-warn:active, .btn-outline.btn-warn:focus {
      color: #fff;
      background-color: orange;
      border: 1px solid orange; }
  .btn-outline.btn-danger {
    border-color: #ff000c;
    color: #ff000c; }
    .btn-outline.btn-danger:active, .btn-outline.btn-danger:focus {
      color: #fff;
      background-color: #ff000c;
      border: 1px solid #ff000c; }
  .btn-outline.btn-default {
    border-color: #dddddd;
    color: #dddddd; }
    .btn-outline.btn-default:active, .btn-outline.btn-default:focus {
      color: #fff;
      background-color: #dddddd;
      border: 1px solid #dddddd; }

.btn-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .btn-group .btn-outline {
    -webkit-box-flex: 1;
    margin-left: -1px;
    border-radius: 0; }
    .btn-group .btn-outline:first-child {
      border-radius: 0.15rem 0 0 0.15rem; }
    .btn-group .btn-outline:last-child {
      border-radius: 0 0.15rem 0.15rem 0; }
  .btn-group .btn-rounded:first-child {
    border-radius: 1.25rem 0 0 1.25rem; }
  .btn-group .btn-rounded:last-child {
    border-radius: 0 1.25rem 1.25rem 0; }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-fles-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

/* Arrows */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto; }

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }
  .swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%; }
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px; }

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }
  .swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10; }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */ }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */ }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */ }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */ }

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
.swiper-container-fade .swiper-slide {
  pointer-events: none; }
.swiper-container-fade .swiper-slide-active {
  pointer-events: auto; }

/* Cube */
.swiper-container-cube {
  overflow: visible; }
  .swiper-container-cube .swiper-slide {
    pointer-events: none;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%; }
  .swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  .swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-prev, .swiper-container-cube .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible; }
  .swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px); }
  .swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
    z-index: 0; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }
  .swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%; }
  .swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

/* Preloader */
.swiper-slide .preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10; }

.swiper-slide img {
  display: block; }

/* form 的样式  */
.form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-left: 0.5rem; }
  .form-group .form-name {
    font-size: 0.6rem; }
  .form-group .form-input input {
    border: 0; }

/* 首页 样式  */
.content-nav {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
  margin-bottom: 0.5rem; }
  .content-nav > a {
    display: block;
    float: left;
    width: 100%;
    height: 3.725rem;
    position: relative;
    border-top: 1px solid #e6e6e6; }
    .content-nav > a .nav-text {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center; }
    .content-nav > a .nav-title {
      font-size: 0.75rem; }
    .content-nav > a .nav-title-sub {
      font-size: 0.6rem;
      color: #999999; }
  .content-nav .nav-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 100%;
    height: 100%; }
  .content-nav .nav-guide > .nav-wrap {
    background: url("../img/nav-guide-bg.png") no-repeat right 0;
    background-size: 100%; }
  .content-nav .nav-show,
  .content-nav .nav-helper {
    width: 50%; }
  .content-nav .nav-show:after {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-right: 1px solid #e6e6e6; }

.content-inner {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-width: 1px 0; }
  .content-inner .content-title-center {
    text-align: center;
    font-size: 0.75rem;
    padding: 0.625rem 0; }
  .content-inner .content-list-box {
    padding: 0 0.3rem; }
  .content-inner .list-item {
    padding-bottom: 0.5rem; }
    .content-inner .list-item a {
      display: block; }
    .content-inner .list-item .photo {
      position: relative;
      font-size: 0; }
      .content-inner .list-item .photo .tag {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 0.5rem;
        color: #fff; }
    .content-inner .list-item .info {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      font-size: 0.75rem;
      color: #333;
      padding: 0.625rem 0; }
      .content-inner .list-item .info .price span {
        color: #ff000c; }
    .content-inner .list-item .text {
      font-size: 0.5rem;
      color: #999999; }

.modal-overlay, .preloader-indicator-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11001;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms; }
  .modal-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible {
    visibility: visible;
    opacity: 1; }

.modal {
  width: 13.5rem;
  position: fixed;
  z-index: 11000;
  left: 50%;
  display: none;
  margin-left: -6.75rem;
  margin-top: 0;
  top: 50%;
  text-align: center;
  border-radius: 7px;
  opacity: 0;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-transform: translate3d(0, -50%, 0) scale(1.185);
  -ms-transform: translate3d(0, -50%, 0) scale(1.185);
  transform: translate3d(0, -50%, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }
  .modal.modal-in {
    opacity: 1;
    z-index: 11002;
    display: block;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, -50%, 0) scale(1);
    -ms-transform: translate3d(0, -50%, 0) scale(1);
    transform: translate3d(0, -50%, 0) scale(1); }

.modal-buttons {
  height: 44px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
